<div class="api-container api-panel hide" id="get_enphase_summary">
  <h4>Get EnPhase Summary</h4>
  <div class="request-params pull-left span3">  
    <h6>Params</h6>
    <%= label_tag :system_id, "System ID" %>
    <%= text_field_tag :system_id, params[:system_id], :class => "span2", :id => "system_id", :required => true, :placeholder => "67", :value => "67" %>
    <br><br>
    
    <%= submit_tag "Submit", :class => "btn btn-primary submit-button", "onClick" => 'callSummaryApi()', "data-loading-text" => "Please wait..." %>
    <%= button_tag "Clear", :class => "btn btn-primary", "onClick" => 'resetSummaryVals()' %>
    <br><br><br>
  </div>
    
  <div class="response span7">
    <h6>Response</h6>
  
    <%= label_tag :url, "URL" %>
    <%= text_area_tag :url, params[:response], :class => "span7", :id => "response-method", "rows" => 3 %>

    <%= label_tag :status, "Status" %>
    <%= text_field_tag :response, params[:response], :class => "span2", :id => "response-status" %>
    
    <%= label_tag :body, "Body" %>
    <%= text_area_tag :response, params[:response], :class => "span7", :id => "response-body", "rows" => 6 %>
  </div>
</div>  

<script type='text/javascript'>

  function callSummaryApi(){
    var system_id = $("#get_enphase_summary #system_id").val();

    if($.isNumeric($.trim(system_id)) == false) {
      alert('System ID can not be left blank');
      return;
    }

    $(".submit-button").prop("disabled", true);
    
    jQuery.ajax({
      url: "/demo/get_enphase_summary",
      type: "POST",
      datatype: 'json',
      data: { "system_id": system_id },
      success: function(data){
        console.log(data.url);
        $("#get_enphase_summary #response-status").val(data.status);
        $("#get_enphase_summary #response-method").val(data["url"]["scheme"] + "://" + data["url"]["host"] + data["url"]["path"] + "?" + data["url"]["query"]);
        $("#get_enphase_summary #response-body").val(data.body);
        $(".submit-button").prop("disabled", false);
      }
    });  
  }

  function resetSummaryVals(){
    $('#get_enphase_summary input:text').val(''); 
    $('#get_enphase_summary textarea').val(''); 
  }

</script>
